# Dependências do Node.js
node_modules/

# Banco de dados local do SQLite
database.db
*.db

# Arquivos de variáveis de ambiente (se formos usar no futuro)
.env

# Arquivos de log de erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos inúteis de sistema operacional (Mac/Windows)
.DS_Store
Thumbs.db